@use "../utils/" as *;

// 메인 네비게이션
.menu {
  &__link{
    display: block;
    @include padding(16px);
  }
  @include desktop {
    background: $brown;
    color: $white;
    
    &__list{
      text-shadow: 1px 1px #000;
      font-size: rem(18px);
      font-weight: 700;
      @include containerMax;
      @include paddingX(4px);
      @include paddingY(16px);
      @include flexbox($justify: space-between);
      
    }
  }
  
  @include mobile{
    @at-root .is--active &__list{
      transform: none;
    }
    &__list{
      width: 70vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      background: $accent-opacity-color;
      @include padding(20px);
      transform: translateX(-150%);
    }
    &__link{
      border-bottom: 1px solid $black;
    }
  }
}